@font-face {
    font-family: 'tnganbi';
    src: url('Font/tnganbi.ttf'); }
@font-face {
    font-family: 'partybusiness';
    src: url('Font/partybusiness.ttf'); }
@font-face { 
    font-family: 'anirb';
    src: url('Font/anirb___.ttf'); }

/* -----BODY------- */

body h3 {
    font-family: "anirb";
    font-size: 22px;
    padding-bottom: 20px;
}

body h3 span {
    font-size: 15px;
}

body p {
    font-family: "partybusiness";
    font-size: 25px;
}

body em {
    font-family: 'tnganbi';
    color: #Fe661D;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 30px;
}

section {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

section:nth-child(even) {
    background-image: url("images/bg_light.png");
    color: black;
}

section:nth-child(odd) {
    background-image: url("images/bg_dark.png");
    color: white;
}

/* --------------- NAVBAR ------------------- */

@media(max-width:990px){
    header h4 {
        display: none;
    }
}

.navbar {
    background-color:#Fe661D;
}

.nav-item {
    display: inline;
}
.navbar-nav {
    text-align: right;
}

.navbar a {
    font-family: "anirb";
    color: white;
}

.navbar h4 {
    color: white;
}

.navbar-brand {
    font-size: 20px;
}

.navbar-toggler-icon {
    color: white;
}

#navbarNavAltMarkup {
    text-align: right;
    background-color:#Fe661D;
}

#navbarNavAltMarkup a{
    font-size: 13px;
    color: white;
}

#navbarNavAltMarkup a:active {
    text-decoration: underline;
}

/* ------------CAROUSEL -------------------- */

#carouselCtrl .carousel-inner,
#carouselCtrl .carousel-control-prev,
#carouselCtrl .carousel-control-next {
   max-height: 470px;
}

.carousel-caption h2,
.carousel-caption p {
    font-family: "partybusiness";
    text-align: left;
}

.carousel-caption h2 {
    font-size: 70px;
}

.carousel-caption p {
    font-size: 40px;
}

.carousel-caption {
    top: 25%;
}

/* ------------ FELLOWS WANTED ---------------- */

#felows-wanted h4 em {
    font-size:25px;
    margin: 5px;
}


#felows-wanted .badge {
    color: rgba(0,0,0,60%);
    margin-top: 20px;
    font-family: "anirb";
    font-size: 15px;
}

#felows-wanted .active {
    color: #Fe661D;
    text-decoration: underline;
}


#felows-wanted img {
    opacity: 0.4;
    padding: 0px;
}

#felows-wanted .card:hover img{
    opacity: 1;
}

#felows-wanted .card:hover .rewards-info,
#felows-wanted .card:hover .rewards-dead {
    visibility: hidden;
}


#felows-wanted {
    text-decoration: none;
}

#felows-wanted .row {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
}

#felows-wanted .rewards-info,
#felows-wanted .wanted-name,
#felows-wanted .rewards-dead,
#felows-wanted .wanted-dead {
    top: 20px;
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    left:0;
    right: 0;
}

#felows-wanted .rewards-info {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 2px 2px 5px 5px white;
    opacity: 0.7;
    font-family: "partybusiness";
    font-size: 25px;
    font-weight: bold;
}

#felows-wanted .rewards-dead {
    color: #Fe661D;
    font-family: "partybusiness";
    font-size: 50px;
}

#felows-wanted .wanted-dead {
    text-decoration: line-through;
    text-decoration-color: #Fe661D;
}

#felows-wanted .rewards-info .coins {
    color: #Fe661D;
}

#felows-wanted .wanted-name,
#felows-wanted .wanted-dead {
    top: 40%;
    bottom: 40%;
    font-size: 45px;
    padding:5px;
    font-family: "partybusiness";
}

#felows-wanted .card:hover .wanted-name{
    background-color: rgba(0,0,0,50%);
}

#felows-wanted .card {
    background-color: rgba(0,0,0,90%);
    color: rgba(255,255,255,80%);
    padding: 5px;
    font-family: "partybusiness";
    font-size: 30px;
}

/* ------------------ REWARDS ----------------- */

#get-rewards img{
    float: right;
}

#get-rewards .btn {
    background-color: white;
    border-radius: 0;
    font-family: "anirb";
    color: darkorange;
    font-size: 25px;
}

/* ----RING----- */

#about-ring .card {
    background-image: url("images/bg_light.png");
    margin-top: 20px;
    color: black;
    padding: 0px;
}

#about-ring .card-body {
    padding: 0px;
}

#about-ring .card-title {
    background-color: #Fe661D;
    color: white;
    font-size: 20px;
    font-family: "anirb";
    padding-left: 20px;
    height: 30px;
}
#about-ring .card,
#about-ring .card-title {
    border: 0px solid black;
    border-radius: 10px 10px 0 0;
}

#about-ring .card-text {
    padding: 20px;
}

#about-ring img {
    min-width: 100px;
    min-height: 100px;
    width: 20%;
    height: 20%;
}

/* ----------- ARMY ---------------- */

#join-army img {
    width: 100%;
    min-width: 150px;
}

/* ------- FOOTER ------- */

footer .row{
    background-color: #Fe661D;
    color: white;
    text-align: center;
}
